# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Django
backend/db.sqlite3
backend/media/
backend/*.log
backend/staticfiles/

# Environment
.env
.env.local
.env.production

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# VS Code
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db